{% extends "layout.html" %}

<!-- Title -->
{% block title %} CS50xStayFocus {% endblock %}

<!-- Main -->
{% block main %}
<div class="row h-100">
    <div class="col-6 p-5">

        <h5>Todo</h5>
        <h6 class="mb-2 text-muted">0 pending tasks</h6>
        <ul class="list group list-group-flush">
            <li class="list-group-item custom-control custom-checkbox my-2">
                <input type="checkbox" class="custom-control-input" id="customCheck1" name="example1">
                <label class="custom-control-label" for="customCheck1">Task 1</label>
            </li>
            <li class="list-group-item custom-control custom-checkbox my-2">
                <input type="checkbox" class="custom-control-input" id="customCheck2" name="example2">
                <label class="custom-control-label" for="customCheck2">Task 2</label>
            </li>
            <li class="list-group-item custom-control custom-checkbox my-2">
                <input type="checkbox" class="custom-control-input" id="customCheck3" name="example3">
                <label class="custom-control-label" for="customCheck3">Task 3</label>
            </li>
        </ul>

        <form action="/add" method="POST">
            <div class="input-group">
                <div class="input-group-prepend"><input class="btn btn-outline-primary" type="submit" value=" + "></div>
                <input class="form-control" type="text" placeholder=" task" name="todoitem">
            </div>
        </form>


    </div>
    <div class="col-6">
        Timer
    </div>
</div>
{% endblock %}